<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <script src="/js/sub_page.js"></script>
    <title>Thinking of Selling - Kitty Cho | PREC</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel">
                <h1><b>Thinking of Selling</b></h1>
            </div>
            <div class="d-inline-flex flex-wrap align-items-center justify-content-center" style="gap: 20px">
                <div class="d-inline-flex flex-column" style="gap: 20px; max-width: 700px;">
                    <div class="panel">
                        <p>It's important to work with an experienced REALTOR® when selling your most valuable asset. Selling your home takes preparation, organization and professional marketing.</p>
                    </div>
                    <div class="panel">
                        <p>By using me as your realtor I will guide you through every milestone, from analyzing your needs to closing the sale.</p>
                    </div>
                    <div class="panel">
                        <p>Please tell me about the property you're looking to sell by contacting me directly. I will complete a FREE home evaluation on your property, including comparisons to other homes that have recently sold or are on the market at no obligation. Let's get started!</p>
                    </div>
                </div>

                <img class="floating-img" src="/images/misc/thinking_of_selling.jpg">
            </div>
            
            <%- include('../../partials/contact'); %>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../../partials/footer'); %>
</body>
</html>