<a class="location_card <% if(typeof isFeatured !== 'undefined') { %> featured <% } %>" href="/<%= location.id %>" style="--background:<%= location.id %>/<%= location.background %>">
    <div class="card_inner" style="--image: url('/images/locations/<%= location.id %>/<%= location.card_image %>');">
        <div class="card_image">
            <img src="/images/locations/<%= location.id %>/<%= location.card_image %>" alt="<%= location.name %>">
            <% if(typeof isFeatured !== 'undefined') { %>
            <span class="overlay" style="--color: #3DDC84">Featured</span>
            <% } else if (location.sold) { %>
            <span class="overlay" style="--color: #801616">Sold</span>
            <% } %>
        </div>
        <div class="content">
            <div class="title">
                <h1><%= location.name %></h1>
                <% if(typeof isFeatured !== 'undefined') { %>
                <p><%- location.catagory %> - <%- location.location %></p>
                <% } %>
            </div>
            <p class="desc"><%= location.desc %></p>
            <% if(typeof isFeatured !== 'undefined') { %>
            <p class="link">View Sale →</p>
            <% } %>
        </div>
    </div>
</a>