<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <script defer src="/js/sub_page.js"></script>
    <title>Testimonials - Kitty Cho | Personal Real Estate Corporation</title>
    <meta name="description" content="Testimonials from Google Reviews">
    <meta property="og:title" content="Testimonials"/>
    <meta property="og:description" content="Testimonials from Google Reviews"/>
    <meta property="og:url" content="https://kittycho.ca/testimonials/">
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel">
                <img src="/images/misc/google_reviews.webp" height="100px">
            </div>
            <% for (review of reviews) { %>
            <div class="panel">
                <div class="d-inline-flex align-items-center" style="gap: 10px">
                    <img src="<%- review.profile_pic %>" width="40" height="40" alt="<%- review.name %> Profile Picture">
                    <div>
                        <p><b><%- review.name %></b><br>★★★★★</p>
                    </div>
                </div>
                <p><%- review.review %></p>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../../partials/footer'); %>
</body>
</html>