<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <script defer src="/js/sub_page.js"></script>
    <title>Thinking of Buying - Kitty Cho | Personal Real Estate Corporation</title>
    <meta name="description" content="Choose Kitty: Your Trusted Realtor for Life's Biggest Investments">
    <meta property="og:title" content="Thinking of Buying"/>
    <meta property="og:description" content="Choose Kitty: Your Trusted Realtor for Life's Biggest Investments"/>
    <meta property="og:url" content="https://kittycho.ca/thinking-of-buying/">
    <meta property="og:image" content="https://kittycho.ca/images/common/logoBig.webp"/>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel">
                <h1><b>Thinking of Buying?</b></h1>
            </div>
            <div class="panel">
                <p>Whether you're a first time home buyer or an experienced investor, I'm committed to guiding you through the buying process. I understand the relationship between homebuyers and Agents must be based on trust, mutual goals and understanding-this is why I will always keep your interests first and foremost. The real estate process requires negotiation of complex issues; I am committed to working in your best interests by securing the best possible price with the most favorable terms.</p>
            </div>
            <div class="panel">
                <h3 style="text-align: center;">Answer these questions:</h3>
                <ul>
                    <li>Have you been preapproved for your mortgage?</li>
                    <li>What's your budget?</li>
                    <li>What features do you require in a home to satisfy your lifestyle now?</li>
                    <li>Five years from now?</li>
                    <li>Will your needs change?</li>
                </ul>
            </div>
            <div class="panel">
                <p>These are decisions only you can make, but we will walk through this together and I will do everything possible to match you with your dream home or to your investment opportunity.</p>
            </div>
            <%- include('../../partials/contact'); %>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../../partials/footer'); %>
</body>
</html>