<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/location_card.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/location_card.js"></script>
    <script src="/js/sub_page.js"></script>
    <title>Kitty Cho | PREC</title>
    <meta name="description" content="Choose Kitty: Your Trusted Realtor for Life's Biggest Investments">
    <meta property="og:title" content="Kitty Cho | Personal Real Estate Corporation"/>
    <meta property="og:description" content="Choose Kitty: Your Trusted Realtor for Life's Biggest Investments"/>
    <meta property="og:url" content="https://kittycho.ca/">
    <meta property="og:image" content="https://kittycho.ca/images/common/logoBig.png"/>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Main -->
    <div class="main">
        <%- include('../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="slogan">
                <p style="font-size: 1.6em; margin-bottom: 0"><b>"Your Trusted Realtor for Life's Biggest Investments"</b></p>
            </div>
            <div class="notSlogan d-inline-flex justify-content-center align-items-center flex-wrap">
                <div class="main-content__left d-inline-flex flex-column justify-content-center align-items-center">
                    <img src="/images/common/headshot.png" alt="headshot">
                    <%- include('../partials/contact', {fullWidth: true}); %>
                    <p class="phone">
                        <svg width="20" height="20">
                            <use xlink:href="/svg/telephone-fill.svg#id"/>
                        </svg>
                        <a href="tel:604-779-7673">604-779-7673</a>
                    </p>
                </div>
                <div class="main-content__right d-inline-flex flex-column justify-content-center align-items-center" style="gap: 20px">
                    <div class="d-inline-flex justify-content-center align-items-center flex-wrap" style="gap: 20px">
                    <%- include('../partials/location_card', {location: featured, isFeatured: true, type: (secondary == null) ? "mainFeature" : "sharedFeature"}); %>
                    <% if (secondary != null) { %>
                    <%- include('../partials/location_card', {location: secondary, isFeatured: true, type: (secondary == null) ? "mainFeature" : "sharedFeature"}); %>
                    <% } %>
                    </div>
                    <a href="/locations" class="btn btn-primary btn-large" style="filter: var(--card-shadow)">
                        View All Locations
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- YouTube -->
    <% if(youtubeData != undefined) { %>
    <div class="youtube">
        <div class="youtube_videos">
            <% for(video of youtubeData) { %>
            <div class="outer_wrapper">
                <div class="inner_wrapper">
                    <iframe src="https://www.youtube.com/embed/<%= video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>

    <!-- Instagram -->
    <% if(instagramData != undefined) { %>
    <div class="instagram">
        <div class="instagram_header">
            <a href="https://www.instagram.com/<%- instagramData.username %>/" target="_blank">
                <img src="<%- instagramData.profile_picture_url %>" alt="profile_picture" width="86px" height="86px">
            </a>
            <div class="user_info">
                <div class="d-inline-flex flex-wrap align-items-center" style="gap: 10px">
                    <a class="username" href="https://www.instagram.com/<%- instagramData.username %>/" target="_blank">@<%- instagramData.username %></a>
                    <a class="follow_button btn btn-primary d-inline-flex justify-content-center align-items-center" style="margin-top: 6px; margin-bottom: auto; gap: 6px" href="https://www.instagram.com/<%- instagramData.username %>/" target="_blank" role="button">
                        Follow
                        <svg width="18" height="18">
                            <use xlink:href="/svg/instagram.svg#id"/>
                        </svg>
                    </a>
                </div>
                <p class="info"><b><%- instagramData.media_count %></b> posts • <b><%- instagramData.followers_count %></b> followers • <b><%- instagramData.follows_count %></b> following</p>
                <p class="bio"><%- instagramData.biography %></p>
            </div>
        </div>
        <% if (instagramData != undefined) { %>
        <div class="instagram_cards">
        <% for(post of instagramData.media.data.slice(0,12)) { %>
        <a class="instagram_card" href="<%- post.permalink %>" target="_blank" style="background-image: url('<%- (post.media_type == `VIDEO`) ? post.thumbnail_url : post.media_url %>')">
            <% if (post.media_type == `VIDEO`) { %>
            <div class="video_icon">
                <svg class="video_icon" width="64px" height="64px">
                    <use xlink:href="/svg/play-fill.svg#id"/>
                </svg>
            </div>
            <% } %>
            <div class="overlay">
                <span><svg width="20" height="20" style='margin-right: 6px'><use xlink:href="/svg/suit-heart-fill.svg#id"/></svg><%- post.like_count %></span>
                <span><svg width="20" height="20" style='margin-right: 6px'><use xlink:href="/svg/chat-fill.svg#id"/></svg><%- post.comments_count %></span>
            </div>
        </a>
        <% } %>
        </div>
        <% } %>
    </div>
    <% } %>

    <!-- Footer -->
    <%- include('../partials/footer', {white: true}); %>
</body>
</html>