<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="./css/location.css">
    <script src="./js/location.js"></script>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Main -->
    <div class="main">
        <span class="main-background" id="mainBackground" style="background-image: url('/images/locations/<%= location.id %>/<%= location.main_background %>')"></span>

        <div class="main-content">
            <div class="floating-content">
                <iframe width="480" height="270" src="https://www.youtube.com/embed/<%= location.video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <img width="480" height="270" src="/images/locations/<%= location.id %>/<%= location.card_image %>"/>
            </div>
            <div class="panel">
                <h1 class="name"><%= location.name %></h1>
                <h2 class="location"><%= location.location %></h2>
                <div class="description">
                    <%- include(`../partials/location_descriptions/${location.id}.ejs`); %>
                </div>
            </div>
            
        </div>
    </div>
</body>