<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/location.css">
    <script src="/js/location.js"></script>
    <title><%- location.name %> - Kitty Cho | PREC</title>
    <meta name="description" content="<%= location.desc %>">
    <meta property="og:title" content="<%= location.name %>"/>
    <meta property="og:description" content="<%= location.desc %>"/>
    <meta property="og:url" content="https://kittycho.ca/<%= location.id %>/">
    <meta property="og:image" content="https://kittycho.ca/images/<%= location.id %>/<%= location.card_image %>"/>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Main -->
    <div class="main">
        <%- include('../partials/background', {background: location}); %>
        <div class="main-content">
            <div class="panel">
                <h1 class="name"><%- location.name %><% if(typeof location.company !== 'undefined') { %> <span style="font-size: 0.6em">by <%= location.company %></span><% } %></h1>
                <h2 class="location"><%- location.catagory %> - <%- location.location %></h2>
                <% if(location.sold) { %>
                <div class="sold">
                    <h2><b>SOLD OUT - CONTACT ME FOR ASSIGNMENTS</b></h2>
                    <%- include('../partials/contact', {tiny: true, subject: 'Question about '+location.name }); %>
                </div>
                <% } %>
                <%- include(`../partials/locations/${location.id}.ejs`); %>
                <div class=buttons>
                    <% for(pdf of location.pdfs) { %>
                    <a class="btn btn-primary d-inline-flex justify-content-center align-items-center" href="/files/<%= location.id %>/<%= pdf.file %>" role="button" target="_blank">
                        <%= pdf.name %>
                        <svg width="20" height="20">
                            <use xlink:href="/svg/<%= pdf.icon %>.svg#id"/>
                        </svg>
                    </a>
                    <% } %>
                </div>
                <% if(!location.sold) { %>
                <p style="margin-top: 20px"><b>If you have any questions or wish to see the price:</b></p>
                <%- include('../partials/contact', {tiny: true, subject: 'Question about '+location.name }); %>
                <% } %>

                <!-- Footer -->
                <%- include('../partials/footer'); %>
            </div>
            <div class="floating-content <%- (typeof location.video_id !== 'undefined') ? 'has_video' : '' %>">
                <div class="spacing"></div>
                <div class="fixed">
                    <% if (typeof location.video_id !== 'undefined') { %>
                    <iframe src="https://www.youtube.com/embed/<%= location.video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <% } %>
                    <% if (typeof location.images !== 'undefined') { %>
                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <% for(let i = 0; i < location.images.length; i++) { %>
                            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>" aria-current="true" aria-label="Slide <%= i + 1 %>"></button>
                            <% } %>
                        </div>
                        <div class="carousel-inner">
                            <% for(let i = 0; i < location.images.length; i++) { %>
                            <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                                <img src="/images/<%= location.id %>/<%= location.images[i] %>">
                            </div>
                            <%  } %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>