<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/location_card.css">
    <link rel="stylesheet" href="/css/presale.css">
    <script defer src="/js/components/location_card.js"></script>
    <script defer src="/js/presale.js"></script>
    <title>Properties - Kitty Cho | Personal Real Estate Corporation</title>
    <meta name="description" content="A complete collection of beautiful homes">
    <meta property="og:title" content="Properties"/>
    <meta property="og:description" content="A complete collection of beautiful homes"/>
    <meta property="og:url" content="https://kittycho.ca/properties/">
    <meta property="og:image" content="https://kittycho.ca/images/<%= featured.id %>/<%= featured.card_image %>"/>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Main -->
    <div class="main">
        <%- include('../partials/background', {background: featured}); %>
        <div class="main-content">
            <div class="catagories">
                <% for(const [categoryName, categoryData] of locations) {
                    let categoryID = categoryName.replace(' ', '-').toLowerCase();
                %>
                    <a class="categoryButton" id="<%= categoryID %>_button">
                        <h1><%= (categoryName == 'Featured') ? "New & Featured" : categoryName %></h1>
                    </a>
                <% } %>
            </div>

            <% for(const [categoryName, categoryData] of locations) {
                let categoryID = categoryName.replace(' ', '-').toLowerCase();
            %>
            <div class="category collapse" id="<%= categoryID %>">
                <% if(categoryName == 'Featured') { %>
                    <h1 class="header"><span class="deco">————</span>— New & Featured —<span class="deco">————</span></h1>
                    <div class="group d-flex flex-wrap justify-content-center">
                        <% for (location of categoryData) { %>
                        <%- include('../partials/location_card', {location: location, isFeatured: true, type: "subFeature"}); %>
                        <% } %>
                    </div>
                <% } else {
                    for (const [subcategory, locationList] of categoryData) { %>
                        <h1 class="header"><span class="deco">————</span>— <%= subcategory %> —<span class="deco">————</span></h1>
                        <div class="group d-flex flex-wrap justify-content-center">
                            <% for (location of locationList) { %>
                            <%- include('../partials/location_card', {location: location, isFeatured: true, type: ""}); %>
                            <% } %>
                        </div>
                    <% }
                } %>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>
</body>
</html>