<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/presale.css">
    <script src="/js/_location_card.js"></script>
    <script src="/js/presale.js"></script>
    <title>Presales - Kitty Cho | Personal Real Estate Corporation</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Main -->
    <div class="main">
        <%- include('../partials/background', {background: featured}); %>
        <div class="main-content">
            <% 
            const locations_sorted = {"Featured": []};
            for (const [place, location] of Object.entries(locations)) {
                if (location.state == "featured") {
                    locations_sorted["Featured"].push(location);
                } else {
                    let area = `${location.catagory} - ${location.location}`;
                    if (locations_sorted[area] == undefined) {
                        locations_sorted[area] = [location];
                    } else {
                        locations_sorted[area].push(location);
                    }
                }
            }
            for (const [place, location_list] of Object.entries(locations_sorted).sort(function(a,b) { return (b[0] === "Featured") ? 1 : a[0].localeCompare(b[0]); })) { %>
            <a class="header d-inline-flex" href="#<%- place.toLowerCase().replaceAll(' - ','-').replaceAll(' ','-') %>"><h1 id="<%- place.toLowerCase().replaceAll(' - ','-').replaceAll(' ','-') %>"><%- place %></h1><svg width="32" height="32"><use xlink:href="/svg/link-45deg.svg#id"/></svg></a>
            <div class="group d-flex flex-wrap justify-content-center">
            <% for (location of location_list.sort(function(a,b) { return (a.state == "sold" - b.state == "sold")*2 + (a.name.localeCompare(b.name)) })) { %>
            <%- include('../partials/location_card', {location: location, partialFeature: (location.id == featured.id)}); %>
            <% } %>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>
</body>
</html>