<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/presale.css">
    <script src="/js/_location_card.js"></script>
    <script src="/js/presale.js"></script>
    <title>Presales - Kitty Cho | Personal Real Estate Corporation</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Main -->
    <div class="main">
        <%- include('../partials/background', {background: featured}); %>
        <div class="main-content">
            <h1 class="header" id="southern_burnaby">Southern Burnaby<a href="#southern_burnaby"><svg width="30px" height="30px"><use xlink:href="/svg/link-45deg.svg#id"/></svg></a></h1>
            <div class="group d-flex flex-wrap justify-content-center">
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            </div>
            <h1 class="header" id="northern_burnaby">Northern Burnaby<a href="#northern_burnaby"><svg width="30px" height="30px"><use xlink:href="/svg/link-45deg.svg#id"/></svg></a></h1>
            <div class="group d-flex flex-wrap justify-content-center">
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            </div>
            <h1 class="header">Other Burnaby</h1>
            <div class="group d-flex flex-wrap justify-content-center">
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            </div>
            <h1 class="header">Maybe Vancouver</h1>
            <div class="group d-flex flex-wrap justify-content-center">
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            <%- include('../partials/location_card', {location: locations['contour']}); %>
            </div>
        </div>
    </div>
</body>